/* General Styles */
@font-face {
  font-family: 'adv';
  src: URL('Adventure Time Logo.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-family: adv;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(135deg, #2B303A, #7EA0B7);
  }
  
  .container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2B303A;
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .hidden {
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
  }
  
  .unravel-button {
    padding: 15px 30px;
    font-family: adv;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #7EA0B7;
    background: #005f73;
    background-color: #BFEDC1;
    background-color: #005f73;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .unravel-button:hover {
    transform: scale(1.1);
    background: #004a58;
  }
  

  .real-view{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-color: #2B303A;
    align-items: center;
  }

  .real-view h1 {
    margin-top: 50px;
    margin-bottom: 20px 0;
    color: antiquewhite;

  }

  .real-view mo{
    font-family: 'Courier New', Courier, monospace;
    width: 80%;
    height: 300px;
    padding: 18px;
    border: 1px solid #3c4d59;
    border-radius: 3px;
  }

  .real-view p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;
  }
  
  .wrapper {
    overflow-x: hidden;
    margin-top: 8vh;
    display: flex;
  }

  .textbox {
    display: flex;
    flex:50vw;
    align-items: center;

  }

  .images1 {
    flex:8vw;
    height: 100px;
    width: 400px;
  }

  .images2 {
    flex:15vw;
    display:flex;
    height: 200px;
    width: 400px;
  }

a.button {
    font-family: adv;
    margin: 10px;
    padding: 10px 20px;
    background-color: #005f73;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-decoration: none;
  }

  a.button:hover {
    background-color: #004a58;
  }


  .button-wrapper{
    flex: 6vw;
    align-items: baseline;
  }

  .button-container{
    width: 100vw;
    margin-top: 13vh;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px; /* Add 10px padding on left and right */

  }

  .button-container button {
    flex:1;
    font-family: adv;
    margin: 10px;
    padding: 10px 20px;
    background-color: #005f73;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;

  }
  
  .button-container button:hover {
    background-color: #004a58;
  }
  
  /* accordeon */
  .accordion {
    background-color: #617d91;
    border-radius: 5px;
    color: #444;
    color: antiquewhite;
    font-family: adv;
    cursor: pointer;
    padding: 18px;
    width: 84%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #4c6272;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    opacity: 80%;
    padding: 0 18px;
    width: 80%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: #719572;
    background-color: #3c4d59;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
